= simple_form_for @event, :url => wizard_path, :method => :put do |f|

  %table.tabl.table-condensede
    - @event.schedule_places.build if @event.schedule_places.count == 0
    = f.simple_fields_for :schedule_places do |p|
      %tr
        %td
          = p.input :name
        %td
          = p.input :address
        %td
          = p.input :price

  .form-actions
    = f.submit '場所を追加する', class: 'btn btn-default', name: 'add'
    = f.submit '次へ', class: 'btn btn-primary'
