%h1= @event.name
企画者
= @event.planner
%br
%br

.alert.alert-info
  %h3 ■イベント
  %br
  .white_back
    = @event.detail
  %br
  = link_to 'イベント内容を編集する(要パスワード)', edit_event_path(@event), class: 'btn btn-warning'
  = link_to 'このイベントに参加する', new_event_member_path(@event), class: 'btn btn-success'

%br

.alert.alert-info
  %h3 ■日程
  %br
  %table.table-bordered.max_width.white_back
    %tr
      %th 参加者名
      %th 希望日１
      %th 希望日２
      %th 希望日３
    - @event.members.each do |member|
      %tr
        %td
        %td
        %td
        %td
    %tr
      %td
      %td
      %td
      %td

%br

.alert.alert-info
  %h3 ■場所
  %br
  %table.table-bordered.max_width.white_back
    %tr
      %th 参加者名
      %th 希望場所１
      %th 希望場所２
      %th 希望場所３
    - @event.members.each do |member|
      %tr
        %td
        %td
        %td
        %td
    %tr
      %td
      %td
      %td
      %td

%br

.alert.alert-info
  %h3 ■掲示板
  %br
  %table.table-bordered.max_width.white_back
    - if @event.boards.present?
      - @event.boards.each do |board|
        %tr
          %td
            投稿者
            = board.name
            %br
            = board.tweet
    - else
      %tr
        %td
          投稿はありません。

  %br

.alert.alert-info
  %h3 ■投稿欄
  %br
  - @board = @event.boards.build
  = simple_form_for @board, url: bulk_create_event_path do |f|
    - if @board.errors.any?
      #error_explanation
        %h2= "#{pluralize(@board.errors.count, "error")} prohibited this board from being saved:"
        %ul
          - @board.errors.full_messages.each do |msg|
            %li= msg

    = f.input :name, input_html: { class: 'max_width' }
    = f.input :tweet, input_html: { class: 'max_width' }

    .actions
      = f.submit '投稿', class: 'btn btn-primary'
